<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  {% include "core_parts/header_sheets.html" %}
  <title>
    {% block page_title %}Template{% endblock %} - Acius Notes App
  </title>
</head>
<body>
  <div id="page" class="site">  
    <!-- HEADER
    ============================================================================== -->
    <section id="nav-content">
      <header id="masthead" class="site-header" role="banner">
        <!-- NAVBAR  -->
        <div class="navbar-wrapper">
          <nav id="site-navigation" class="main-navigation navbar navbar-expand-lg navbar-light">
            <div class="container">
              {% if user.is_authenticated %}
                <a class="custom-logo-link text-center" href="/notes">
              {% else %}
                <a class="custom-logo-link text-center" href="/">
              {% endif %}
                <img class="custom-logo" src="{{ url_for('static', filename='img/notes-logo.png') }}" alt="Notes App logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="mainNavBar" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto navbar-nav-scroll text-center">
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link logout" href="/logout">
                        Logout
                      </a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link login" href="/login">
                        Login
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link sign-up" href="/sign-up">
                        Sign Up
                      </a>
                    </li>
                  {% endif %}
                </ul><!-- navbar-nav -->
              </div><!-- #mainNavBar -->
            </div><!-- container -->
          </nav><!-- #site-navigation -->
        </div><!-- navbar-wrapper -->
      </header><!-- #masthead -->
    </section> <!-- #nav-content -->

    <div id="content" class="site-content">
      {% block primary_div %}
        <div id="primary" class="content-area">
      {% endblock %}
        <main id="main" class="site-main">
          {% block body_content %}
          Base content
          {% endblock %}
        </main><!-- .site-main -->
      </div><!-- #primary-->

      {% include "core_parts/footer.html" %}
    </div><!-- #content -->
  </div><!-- #page-->
    {% include "core_parts/footer_scripts.html" %}
</body>
</html>