<footer id="colophon" class="site-footer">
  <!-- FOOTER
  ============================================================================== -->
  <section id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 footer-text align-self-center">
          <p>&copy; 2021 All Rights Reserved. Created by Acius.</p>
        </div> <!-- footer-text -->
        <div class="col-md-6 social-icons text-end">
          <a class="btn btn-primary" href="https://www.linkedin.com/in/ryan-partridge-08b7118b/" role="button">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="btn btn-primary" href="https://github.com/Achronus" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div><!-- social-icons -->
        <div id="back-to-top">
          <a class="top-link hide">
            <i class="fas fa-arrow-up"></i>
          </a>
        </div> <!-- #back-to-top -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- section -->
</footer><!-- #colophon -->