{% extends "core_parts/base_title.html" %}

{% block page_title %}Account Created{% endblock %}
{% block title %}Account Created Successfully!{% endblock %}

{% block additional_content %}
<!-- GET STARTED
============================================================================== -->
<section id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-12 start-btn text-center">
        <a href="/notes" class="btn btn-primary">
          <span class="name">Get Started</span><i class="fas fa-angle-right"></i>
        </a>
      </div>
</section><!-- #get-started -->
{% endblock %}
