// MEDIA QUERIES
@include media-breakpoint-up(xs) {
  #site-navigation {
    &.sticky-nav {
      .container {
        background-color: #fff;
        border-bottom: 1px solid $light-bg;
        @include remPadBot(10px);
      }
    }
  }

  #form {
    text-align: center;
  }

  #footer {
    .footer-text {
      text-align: center;
      @include remMarginBot(30px);
    }
    .social-icons {
      text-align: center !important;  
    }
  }
}

@include media-breakpoint-up(sm) {
  #site-navigation {
    &.sticky-nav {
      .container {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  #form {
    text-align: left;
  }
}

@include media-breakpoint-up(md) {
  .footer-text {
    text-align: center;
    margin: 0 !important;
  }
}

@include media-breakpoint-up(lg) {
  #site-navigation {
    &.sticky-nav {
      .container {
        background-color: transparent;
      }
    }
  }
}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {

}