/* GLOBAL VARIABLES */
// FONT FAMILIES
$dm-sans: 'DM Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$rubik: 'Rubik', sans-serif;

// BASE STYLES
$base-size: 18px;
$base-transition: ease-in-out 0.25s;

// COLOURS
$main-bg: #24a0ed; // main bg
$footer-bg: #1b435b; // footer bg
$secondary-bg: #ffbc45;
$highlight: #0976b4; 
$main-text: #242424; // main text
$light-text: #6b6b6b; // light text
$dark-bg: #1e1e1e;
$light-bg: #eee;
$tag-bg: #4f7e9b;
$danger: #d21b1b;
$success: #0ca842;

// MAPPINGS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);