// CTA STYLES
#cta {
  background-color: $secondary-bg;
  .row {
    height: 300px;
    .signup-btn {
      h2 {
        font-weight: bold;
        color: $main-text;
        text-transform: capitalize;
        @include remFont(36px);
        @include remMarginBot(30px);
      }
    }
  }
}

#cta, #get-started, #error {
  .signup-btn, .start-btn, .cta {
    font-family: $dm-sans;
    a {
      color: #fff;
      font-weight: 500;
      background-color: $footer-bg;
      border: 1px solid $footer-bg;
      width: 200px;
      border-radius: 25px;
      @include remFont(18px);
      @include remPad(8px, 0px);
      span, svg {
        @include remMarginLeft(7px);
      }
      svg {
        vertical-align: middle;
      }
      &:hover {
        color: #fff;
        background-color: $dark-bg;
        border-color: $dark-bg;
      }
    }
  }
}