// POST STYLES
#all-posts {
  background-color: $light-bg;
  @include remPadAll(60px);
  .social-posts {
    background-color: #fff;
    border: 2px solid $light-bg;
    padding: 0;
    .header {
      @include remPadLeft(20px);
      @include remPadRight(20px);
      @include remPadTop(20px);
      @include remPadBot(10px);
      border-bottom: 1px solid $light-bg;
      box-shadow: 0px 1px 3px $light-bg;
      svg, h2 {
        display: inline-block;
      }
      svg {
        @include remMarginRight(10px);
        @include remFont(26px);
      }
      h2 {
        font-weight: bold;
        @include remFont(24px);
      }
    }
    &.facebook {
      .header {
        svg {
          color: $facebook;
        }
      }
    }
    &.twitter {
      .header {
        svg {
          color: $twitter;
        }
      }
    }
    .post-container {
      height: 600px;
      overflow-y: scroll;
      .post {
        border-bottom: 1px solid $light-bg;
        @include remPadAll(20px);
        @include remMarginBot(10px);
        .content {
          .head {
            .avatar {
              img {
                width: 100%;
                height: auto;
              }
            }
            .title {
              h2 {
                @include remFont(17px);
                @include remMarginBot(3px);
              }
              p {
                color: $light-text;
                @include remFont(14px);
              }
            }
          }
          .description {
            p {
              @include remFont(15px);
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}