<!-- CTA
============================================================================== -->
<section id="cta">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 signup-btn text-center">
        <h2>Sign Up For Free!</h2>
        <a href="/sign-up" class="btn btn-primary">
          <span class="name">Register</span><i class="fas fa-angle-right"></i>
        </a>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- #ctas -->