// MODAL STYLES
#addNoteModal {
  background-color: $footer-bg;
  .modal-content {
    .modal-header, .modal-footer {
      border: none;
    }
    .modal-header {
      button {
        @include remFont(24px);
        &:hover {
          color: $danger;
        }
      }
    }
    .modal-body {
      min-height: 350px;
      h2 {
        font-family: $dm-sans;
        font-weight: bold;
        @include remFont(36px);
      }
      form {
        label {
          font-weight: 500;
          font-family: $rubik;
        }
      }
    }
    .modal-footer {
      button {
        font-family: $rubik;
        &.btn-primary {
          color: #fff;
          background-color: $footer-bg;
          border: none;
          &:hover {
            color: #fff;
            background-color: $success;
          }
        }
        &.btn-secondary {
          border: none;
          &:hover {
            color: #fff;
            background-color: $danger;
          }
        }
      }
    }
  }
}

.float-label {
  position: relative;
  @include remMarginBot(60px);
  &.active {
    label {
      transform: translateY(4px) scale(0.75);
      transition: $base-transition;
    }
  }
  label {
    color: $footer-bg;
    font-family: $rubik;
    font-weight: 500;
    position: absolute;
    z-index: 2;
    @include remMarginLeft(20px);
    @include remFont(20px);
    transform-origin: top left;
    transform: translateY(16px) scale(1);
    transition: $base-transition;
  }
  input, textarea {
    border: 0;
    background-color: #f0f5f5;
    position: absolute;
    border-radius: 5px;
    line-height: 30px;
    @include remFont(16px);
    @include remPadTop(18px);
    @include remPadBot(10px);
    @include remPadLeft(20px);
    @include remPadRight(60px);
  }
}