<form method="POST" class="row g-3">
  <div class="col-10 offset-1">
    <label for="emailBox" class="form-label">Email Address</label>
    <input type="email" name="email" class="form-control" id="emailBox" placeholder="Enter your email address" value="{{ request.form['email'] }}">
  </div><!-- col -->
  <div class="col-10 offset-1">
    <label for="passwordBox" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="passwordBox" placeholder="Enter your password" value="{{ request.form['password'] }}">
  </div><!-- col -->
  <div class="col-10 offset-1 text-center">
    <button type="submit" class="btn btn-primary">Login</button>
  </div><!-- col -->
</form><!-- form -->