{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <section id="messages">
      <div class="container">
        <div class="row">
          <div id="alert" class="col-md-10 offset-md-1 col-lg-6 offset-lg-3 alert alert-dismissable fade show" role="alert">
            <div class="col-11 message">
              {% for category, message in messages %}
                <p>{{ message }}</p>
                {% if category == 'error' %}
                <script>
                    document.getElementById("alert").classList.add('alert-danger');
                </script>
                {% else %}
                <script>
                  document.getElementById("alert").classList.add('alert-success');
                </script>
                {% endif %}
              {% endfor %}
              </div><!-- .col -->
              <div class="col-1 close-btn">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div><!-- .col -->
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- #messages -->
  {% endif %}
{% endwith %}